<div id="footerwrap">
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-4">-->
                <!--<h4>About</h4>-->
                <!--<div class="hline-w"></div>-->
                <!--<p>{{ site.about }}</p>-->
            <!--</div>-->
            <!--<div class="col-lg-4">-->
                <!--<h4>Social Links</h4>-->
                <!--<div class="hline-w"></div>-->
                <!--<p>-->
                    <!--{% for network in site.social %}-->
                        <!--<a href="{{ network.url }}" class="btn-social btn-outline"><i class="fa fa-{{ network.title }}"></i></a>-->
                    <!--{% endfor %}-->
                <!--</p>-->
            <!--</div>-->
            <div class="col-md-4 col-xs-4">
                <h4>{{ site.data.text.address.headline1[page.lang] }}</h4>
                <!--<div class="hline-w"></div>-->
                <p>
                    <strong>{{ site.data.text.company.name[page.lang] }}</strong><br>
                    {% for line in site.data.text.address.lines %}
                        {{ line }} <br>
                    {% endfor %}
                </p>
            </div>
            <div class="col-md-4 col-xs-4">
                <h4>{{ site.data.text.contact.headline1[page.lang] }}</h4>
            <!--<div class="hline-w"></div>-->
                <p>
                    phone:
                    <a href="tel:{{ site.data.text.contact.tel }}" rel="nofollow" class="phone ">{{site.data.text.contact.tel}}</a><br>
                    email:
                    <a href="mailto:{{ site.data.text.contact.email }}" rel="nofollow">{{site.data.text.contact.email}}</a><br>
                    skype:
                    <a class="btn-social btn-outline">{{site.data.text.contact.skype}}</a>
                </p>
            </div>
        </div><! --/row -->
    </div><! --/container -->
</div><! --/footerwrap -->